.steps-form-2 {
    display: table;
    width: 80%;
    position: relative;
    margin: 20px auto 23px auto;
    padding-left: 20px;
    padding-right: 20px;
    overflow: hidden;
}
.steps-form-2 .steps-step-1,.steps-form-2 .steps-step-2,.steps-form-2 .steps-step-3 {
    position: relative;
}    
.steps-form-2 .steps-row-2 {
    display: table-row;
}
.third-final {
    position: absolute;
    right: 0px;
    top: 0px;
}
.steps-step-3 i {
    right: -113px;
}
.steps-step-2 i {
    right: 0px;
}
.steps-form-2 .steps-row-2 i {
    position: relative;
    z-index: 999;
}    
.steps-form-2 i {
    margin: 0px 10px;
    color: lightgrey;
}
.active i {
    color: white !important;
}
.steps-form-2 .steps-row-2 .steps-step-1:after {
    content: "";
    top: 13px;
    bottom: 0;
    position: absolute;
    content: " ";
    width: 104%;
    height: 2px;
    border-top: 4px dotted #999
}
.steps-form-2 .steps-row-2 .steps-step-2:after {
    content: "";
    top: 13px;
    bottom: 0;
    position: absolute;
    content: " ";
    width: 104%;
    height: 2px;
    border-top: 4px dotted #999
}
.steps-form-2 .steps-row-2 .steps-step-2 {
    display: table-cell;
    text-align: center;
    position: relative;
}
.steps-form-2 .fa-check-circle {
    color: lightgreen;
}
