NODE_URL=
MERCATA_BRIDGE=
STRATO_NATIVE_BRIDGE=
WAS_PORT=3002
WAS_POLL_INTERVAL_MS=30000
WAS_TRACE_MAX_DEPTH=5
WAS_INCLUDE_TERMINAL_WITHDRAWALS=true
OAUTH_DISCOVERY_URL=
OAUTH_CLIENT_ID=
OAUTH_CLIENT_SECRET=
