# Token A Configuration
TOKEN_A_NAME="Token A"
TOKEN_A_SYMBOL="TKNA"
TOKEN_A_DECIMALS=18
TOKEN_A_INITIAL_SUPPLY="1000000000000000000000000"
TOKEN_A_DESCRIPTION="Token A Description"
# Comma-separated URLs for images
TOKEN_A_IMAGES=["https://example.com/silver1.jpg","https://example.com/silver2.jpg"]
# Comma-separated URLs for files
TOKEN_A_FILES=["https://example.com/silver_docs.pdf"]
# Comma-separated file names
TOKEN_A_FILE_NAMES=["Documentation"]

# Token B Configuration
TOKEN_B_NAME="Token B"
TOKEN_B_SYMBOL="TKNB"
TOKEN_B_DECIMALS=18
TOKEN_B_INITIAL_SUPPLY="1000000000000000000000000"
TOKEN_B_DESCRIPTION="Token B Description"
# Comma-separated URLs for images
TOKEN_B_IMAGES=["https://example.com/usdst.jpg"]
# Comma-separated URLs for files
TOKEN_B_FILES=["https://example.com/usdst_docs.pdf"]
# Comma-separated file names
TOKEN_B_FILE_NAMES=["Documentation"]

# Base Code Collection
BASE_CODE_COLLECTION=base_code_collection

# BlockApps Node Configuration
NODE_URL=https://your-node-url.example.com
OAUTH_URL=https://your-auth-url.example.com/auth/realms/your-realm/.well-known/openid-configuration
OAUTH_REALM=your-realm
OAUTH_CLIENT_ID=your-client-id
OAUTH_CLIENT_SECRET=your-client-secret

# Creator Credentials (Doesn't have to be BlockApps, any user can be used)
GLOBAL_ADMIN_NAME=admin
GLOBAL_ADMIN_PASSWORD=your_secure_admin_password