.idea
.basil-work
.docker-work
.stack-work
.stack-work-profile
docker-compose.push.yml
docker-compose.push.ecr.yml
/docker-compose.yml
docker-compose.ecr.yml
docker-compose.highway.push.yml
docker-compose.highway.push.ecr.yml
docker-compose.highway.yml
docker-compose.highway.ecr.yml
docker-compose.vault.push.yml
docker-compose.vault.push.ecr.yml
docker-compose.vault.yml
docker-compose.vault.ecr.yml
docker-compose.identity.push.yml
docker-compose.identity.push.ecr.yml
docker-compose.identity.yml
docker-compose.identity.ecr.yml
docker-compose.stripe-ps.yml
docker-compose.stripe-ps.ecr.yml
docker-compose.stripe-ps.push.yml
docker-compose.stripe-ps.push.ecr.yml
docker-compose.payment.ecr.yml
docker-compose.payment.push.ecr.yml
docker-compose.payment.push.yml
docker-compose.payment.yml
docker-compose.notification.ecr.yml
docker-compose.notification.push.ecr.yml
docker-compose.notification.push.yml
docker-compose.notification.yml
strato-platform-manifest.yaml
eks-vault-deployment.yaml
eks-identity-deployment.yaml
stack.yaml.lock
configurationCache.log
dryrun.log
targets.log
strato/tools/x509-generator/subject.json
strato/tools/genesis-builder/certs.json
strato/haddock
strato/hpc
*.cabal
*~
rewards-server/src/config/latestBlock.json