.idea
.basil-work
.docker-work
.stack-work
.stack-work-profile
docker-compose.push.yml
docker-compose.yml
stack.yaml.lock
blockapps-haskell/*.cabal
core-strato/*.cabal
shared-util/*.cabal
monad-alter/*.cabal
strato-ide/ghcid-output.txt
*~
