.user-icon {
  font-size: 160px !important;
}

.md-background--card.profile-box {
  background: #263238 !important;
  height: auto;
  width: 550px;
  padding: 10px;
  transform: translateY(25%);
}
.md-background--card.profile-box h1 {
  color:#fff;
}

.md-background--card.profile-box .user-icon {
  color:#fff;
}

.md-background--card.profile-box h3 {
  color:#fff;
}

.md-background--card.profile-box Button {
  background: cornflowerblue;
}

@media (max-width: 767px){
  .md-background--card.profile-box {
    width: 100%;
    transform: translateY(0%); 
    height: 100vh;
  }
} 
