@import "~@blueprintjs/core/dist/blueprint.css";
@import "../../../node_modules/@blueprintjs/core/dist/variables.scss";

$navbarWidth: 260px;
aside {
  position: fixed;
  height: 100%;
  top: 0px;
  left: 0px;
  background: #394b59;
  padding: 20px;
  width: $navbarWidth;
  margin-top: 48px;
  box-shadow: inset 0 0 2px 1px rgba(16, 22, 26, 0.2), 0 1px 2px rgba(16, 22, 26, 0.4);
  z-index: 9;
}
.fa-code-branch {
  transform: rotate(180deg) scaleX(-1);
}
.menu-item{
  font-size: 1.25em;
  color: $pt-dark-text-color;
  margin-bottom: 10px;
  padding: 8px 16px;
  text-decoration: none;
  display: block;
}

.menu-text {
  margin-left: 8px;
}

.menu-item:hover {
  color: $pt-dark-code-text-color;
  text-decoration: none;
}

.active-menu-item {
  border: 1px solid $pt-dark-divider-black;
  color: $pt-dark-code-text-color !important;
  background-color: $pt-dark-code-background-color;
  text-decoration: none !important;
}

.smd-sidebar-logo {
  position: absolute;
  left: 0px;
  bottom: 60px;
  width: 100%;
  text-align: center;
}

.menu {
  min-height: 35vh;
  max-height: 60vh;
  overflow-y: auto;
}

.menu::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  border-radius: 4px;
  background: #2F424D; 
}
 
::-webkit-scrollbar-thumb {
  border-radius: 4px; 
  background: #F4F8FA; 
}

::-webkit-scrollbar-thumb:hover {
  background: #BBCBD4; 
}

.send-tokens-dialog .chain-field {
  width: 100%;
}

#outer-container {
  position: relative;
  top: 48px;
  margin-left: $navbarWidth;
  padding: 0px 12px;
}

#menu-burger {
  display: none;
}

$collapsePoint: 800px;
$burgerSize: 35px;
@media only screen and (max-width: $collapsePoint) {
  #sidebar {
    display: none;
  }
  #outer-container {
    margin-left: 0px;
  }
  #sidebar.sidebar-expand {
    display: block;
    width: 100%;
  }
  #menu-burger {
    display: block;
    height: $burgerSize;
    width: $burgerSize;
    padding: 15px;
    cursor: pointer;
    span,
    span:before,
    span:after {
      cursor: pointer;
      border-radius: 1px;
      height: 5px;
      width: $burgerSize;
      background: $pt-dark-text-color;
      position: absolute;
      display: block;
      content: '';
      transition: all 300ms ease-in-out;
    }
    span:before {
      top: -10px;
    }
    span:after {
      bottom: -10px;
    }
    &.burger-x span {
      background-color: transparent;
      &:before,
      &:after {
        top: 0;
      }
      &:before {
        transform: rotate(45deg);
      }
      &:after {
        transform: rotate(-45deg);
      }
    }
  }
}
