{{ template "head" . }}

{{ template "prom_content_head" . }}
  <h1>BlockApps Ethereum-VM Overview - {{ .Params.instance }}</h1>

  <h3>Block Counters</h3>
  <div id="blockTransaction"></div>
  <script>
  new PromConsole.Graph({
    node: document.querySelector("#blockTransaction"),
    expr: [
      "vm_blocks_processed",
      "vm_blocks_mined",
      "vm_blocks_unmined",
      "vm_blocks_valid",
      "vm_blocks_invalid",
    ],
    name: function(metric) {
      return !metric.__name__ ? 'Used' : metric.__name__.split('_', 3)[2] },
    yAxisFormatter: PromConsole.NumberFormatter.humanizeNoSmallPrefix,
    yHoverFormatter: PromConsole.NumberFormatter.humanizeNoSmallPrefix,
    yTitle: "Blocks",
    yUnits: "count",
  })
  </script>

  <h3>Block Gauge</h3>
  <div id="blockGauge"></div>
  <script>
  new PromConsole.Graph({
    node: document.querySelector("#blockGauge"),
    expr: [
      "vm_block_insertion_mined",
    ],
    name: function(metric) {
      return !metric.__name__ ? 'Used' : metric.__name__ },
    yAxisFormatter: PromConsole.NumberFormatter.humanizeNoSmallPrefix,
    yHoverFormatter: PromConsole.NumberFormatter.humanizeNoSmallPrefix,
    yTitle: "Blocks",
    yUnits: "count",
  })
  </script>

  <h3>Transaction Counters</h3>
  <div id="transactionCounter"></div>
  <script>
  new PromConsole.Graph({
    node: document.querySelector("#transactionCounter"),
    expr: [
      "vm_txs_successful",
      "vm_txs_unsuccessful",
      "vm_txs_processed",
      "vm_txs_call",
      "vm_txs_creation",
    ],
    name: function(metric) {
      return !metric.__name__ ? 'Used' : metric.__name__.split('_', 3)[2] },
    yAxisFormatter: PromConsole.NumberFormatter.humanizeNoSmallPrefix,
    yHoverFormatter: PromConsole.NumberFormatter.humanizeNoSmallPrefix,
    yTitle: "Transactions",
    yUnits: "count",
  })
  </script>

  <h3>Transaction Gauge</h3>
  <div id="transactionGauge"></div>
  <script>
  new PromConsole.Graph({
    node: document.querySelector("#transactionGauge"),
    expr: [
      "vm_tx_mining",
      "vm_tx_mined",
    ],
    name: function(metric) {
      return !metric.__name__ ? 'Used' : metric.__name__.split('_', 3)[2] },
    yAxisFormatter: PromConsole.NumberFormatter.humanizeNoSmallPrefix,
    yHoverFormatter: PromConsole.NumberFormatter.humanizeNoSmallPrefix,
    yTitle: "Events",
    yUnits: "count",
  })
  </script>
{{ template "prom_content_tail" . }}

{{ template "tail" }}
