{{ template "head" . }}

{{ template "prom_content_head" . }}
  <h1>BlockApps Gregor Overview - {{ .Params.instance }}</h1>

  <h3>Seq Timing Summary</h3>
  <div id="seqtiming"></div>
  <script>
  new PromConsole.Graph({
    node: document.querySelector("#seqtiming"),
    expr: [
      "gregor_seq_timing",
    ],
    name: '[[quantile]]',
    yAxisFormatter: PromConsole.NumberFormatter.humanizeNoSmallPrefix,
    yHoverFormatter: PromConsole.NumberFormatter.humanizeNoSmallPrefix,
    yTitle: "",
    yUnits: "count",
  })
  </script>

  <h3>Unseq Timing Summary</h3>
  <div id="unseqtiming"></div>
  <script>
  new PromConsole.Graph({
    node: document.querySelector("#unseqtiming"),
    expr: [
      "gregor_unseq_timing",
    ],
    name:'[[quantile]]',
    yAxisFormatter: PromConsole.NumberFormatter.humanizeNoSmallPrefix,
    yHoverFormatter: PromConsole.NumberFormatter.humanizeNoSmallPrefix,
    yTitle: "",
    yUnits: "count",
  })
  </script>

  <h3>Loop Events</h3>
  <div id="loopEvents"></div>
  <script>
  new PromConsole.Graph({
    node: document.querySelector("#loopEvents"),
    expr: "gregor_loop_events",
    name: '[[channel]]',
    yAxisFormatter: PromConsole.NumberFormatter.humanizeNoSmallPrefix,
    yHoverFormatter: PromConsole.NumberFormatter.humanizeNoSmallPrefix,
    yTitle: "Blocks",
    yUnits: "count",
  })
  </script>

  <h3>Gregor Counters</h3>
  <div id="seqGregorKafka"></div>
  <script>
  new PromConsole.Graph({
    node: document.querySelector("#seqGregorKafka"),
    expr: [
      "gregor_kafka_checkpoint_reads",
      "gregor_kafka_checkpoint_write",
      "gregor_p2p_chan_read",
      "gregor_vm_chan_read",
      "gregor_vm_kafka_write",
      "gregor_unseq_kafka_read",
      "gregor_p2p_kafka_write",
      "gregor_unseq_chan_write",
    ],
    name: function(metric) {
      return !metric.__name__ ? 'Used' : metric.__name__ },
    yAxisFormatter: PromConsole.NumberFormatter.humanizeNoSmallPrefix,
    yHoverFormatter: PromConsole.NumberFormatter.humanizeNoSmallPrefix,
    yTitle: "Events",
    yUnits: "count",
  })
  </script>

  <h3>Gregor Gauges</h3>
  <div id="seqGregorGauge"></div>
  <script>
  new PromConsole.Graph({
    node: document.querySelector("#seqGregorGauges"),
    expr: [
      "gregor_unseq_kafka_offset"
    ],
    name: function(metric) {
      return !metric.__name__ ? 'Used' : metric.__name__ },
    yAxisFormatter: PromConsole.NumberFormatter.humanizeNoSmallPrefix,
    yHoverFormatter: PromConsole.NumberFormatter.humanizeNoSmallPrefix,
    yTitle: "Events",
    yUnits: "count",
  })
  </script>

{{ template "prom_content_tail" . }}

{{ template "tail" }}
