@import "../../../node_modules/@blueprintjs/core/dist/variables.scss";

.node-peers {
    background-color: $pt-dark-app-background-color;
    margin-bottom: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
}
