.apps hr {
  height: 1px;
  border: 0;
  border-top: 2px solid green;
  margin: 0px 8px
}

.apps button {
  background: cornflowerblue;
  color: white;
  min-width: 55px;
  margin: 0;
  padding: 0px;
  height: 24px;
}

.app-name{
  width: calc(100% - 59px);
  h3 {
    color: white;
    margin: 0;
  }
}

.no-padding {
  padding:0px;
}

.icon-app i { 
  color: white;
  font-size: 80px;
  text-align: center;
  margin: 0px auto;
  display: table;
}

@media (max-width: 1024px) {
  .icon-app i{font-size: 45px;}
  .app-name h3 {font-size: 14px;}
  .app-desc {font-size: 12px;}
}
