@tailwind base;
@tailwind components;
@tailwind utilities;

.pointer-hover:hover {
  cursor: pointer;
}

* {
  padding: 0;
  margin: 0;
  background-color: "#F9F9F9";
  font-family: "Montserrat", sans-serif;
}

.ant-table
  .ant-table-container
  .ant-table-content
  table
  thead.ant-table-thead
  .ant-table-cell {
  background-color: rgba(24, 30, 172, 0.1);
}
.ant-slider .ant-slider-handle::after {
  box-shadow: 0 0 10px rgb(197, 197, 196);
  border-color: #c5c5c4;
}

.ant-checkbox-wrapper
  + :where(.css-dev-only-do-not-override-9ntgx0).ant-checkbox-wrapper {
  margin-inline-start: 0;
}

.ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn {
  color: #181eac !important;
}

.ant-tabs .ant-tabs-tab:hover {
  color: #101481 !important;
}

.ant-tabs-ink-bar {
  position: absolute;
  background: #181eac !important;
  pointer-events: none;
}

.ant-select-single.ant-select-sm:not(
    .ant-select-customize-input
  ).ant-select-show-arrow
  .ant-select-selection-item {
  color: #4e4d4b;
  font-size: 13px;
}

.ant-select .ant-select-arrow {
  color: #4e4d4b;
}

.ant-btn-primary {
  background-color: #181eac !important;
}

.primary-theme-text {
  color: #181eac !important;
}
.border-grey {
  border: 1px solid #00000033;
}

/* .theme-text-color */
.ant-tabs-tab-active {
  color: #181eac !important;
  font-weight: 600;
  font-size: 20px;
}

.ant-tabs-tab-btn {
  color: grey;
  font-weight: 600;
}

.text-grey {
  color: rgba(0, 0, 0, 0.4);
}

.text-dark-grey {
  color: rgba(0, 0, 0, 0.5);
}

.ant-btn-primary:not(:disabled):hover {
  background-color: #101481;
}

.ant-btn-default:not(:disabled):hover {
  color: #fff;
}

.ant-form-item {
  margin-bottom: 0px;
}

.ant-upload-wrapper .ant-upload-select {
  display: block;
}

.ant-input-number .ant-input-number-input {
  text-align: center;
}

.ant-input:hover {
  border-color: #181eac;
}

:where(.css-dev-only-do-not-override-9ntgx0).ant-select:not(
    .ant-select-disabled
  ):not(.ant-select-customize-input):not(.ant-pagination-size-changer):hover
  .ant-select-selector {
  border-color: #181eac;
}

:where(.css-dev-only-do-not-override-9ntgx0).ant-table-wrapper
  .ant-table-thead
  > tr
  > th,
:where(.css-dev-only-do-not-override-9ntgx0).ant-table-wrapper
  .ant-table-thead
  > tr
  > td {
  font-size: 13px;
  font-weight: 500;
}

:where(.css-9ntgx0).ant-checkbox-wrapper
  + :where(.css-9ntgx0).ant-checkbox-wrapper {
  margin-inline-start: 0px;
}

.ant-upload-list-item {
  margin-left: 10px;
}

.font-poppin {
  font-family: Poppins;
}
.lh-28 {
  line-height: 28px;
}
.lh-20 {
  line-height: 20px;
}
.m-tp-5 {
  margin-top: 5px;
}
.m-tp-2 {
  margin-top: 2px;
}
.bg.theme-F2F2F5 {
  background-color: #f2f2f5 !important;
}

.h-px-390 {
  height: 390px;
}

.ant-image{
  height: 50%;
}
