@tailwind base;
@tailwind components;
@tailwind utilities;

.pointer-hover:hover {
  cursor: pointer;
}

* {
  padding: 0;
  margin: 0;
  background-color: "#F9F9F9";
  font-family: "Montserrat", sans-serif;
}

body::-webkit-scrollbar {
  display: none;
}

.ant-table
  .ant-table-container
  .ant-table-content
  table
  thead.ant-table-thead
  .ant-table-cell {
  background-color: rgba(24, 30, 172, 0.1);
}
.ant-slider .ant-slider-handle::after {
  box-shadow: 0 0 10px rgb(197, 197, 196);
  border-color: #c5c5c4;
}

.ant-checkbox-wrapper
  + :where(.css-dev-only-do-not-override-9ntgx0).ant-checkbox-wrapper {
  margin-inline-start: 0;
}

.ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn {
  color: #181eac !important;
}

.ant-tabs .ant-tabs-tab:hover {
  color: #101481 !important;
}

.ant-tabs-ink-bar {
  position: absolute;
  background: #181eac !important;
  pointer-events: none;
}

.ant-select-single.ant-select-sm:not(
    .ant-select-customize-input
  ).ant-select-show-arrow
  .ant-select-selection-item {
  color: #4e4d4b;
  font-size: 13px;
}

.ant-select .ant-select-arrow {
  color: #4e4d4b;
}

.ant-btn-primary {
  background-color: #181eac;
}

.ant-btn-primary:not(:disabled):hover {
  background-color: #101481;
}

.ant-btn-default:not(:disabled):hover{
  color: #fff;
}

.ant-form-item {
  margin-bottom: 0px;
}

.ant-upload-wrapper .ant-upload-select {
  display: block;
}

.ant-input-number .ant-input-number-input {
  text-align: center;
}

.ant-input:hover {
  border-color: #181eac;
}

:where(.css-dev-only-do-not-override-9ntgx0).ant-select:not(
    .ant-select-disabled
  ):not(.ant-select-customize-input):not(.ant-pagination-size-changer):hover
  .ant-select-selector {
  border-color: #181eac;
}

:where(.css-dev-only-do-not-override-9ntgx0).ant-table-wrapper
  .ant-table-thead
  > tr
  > th,
:where(.css-dev-only-do-not-override-9ntgx0).ant-table-wrapper
  .ant-table-thead
  > tr
  > td {
  font-size: 13px;
  font-weight: 500;
}

:where(.css-9ntgx0).ant-checkbox-wrapper+:where(.css-9ntgx0).ant-checkbox-wrapper {
  margin-inline-start: 0px;
}
