.app-card {
  margin-bottom: 16px; 

  .app-card .heading {
    font-size: 20px;
  }

  .app-card .content {
    font-size: 11px;
  }

  .neutral-baseline {
    color: #14ccbd;
    border-bottom: 1px solid #14ccbd;
    margin: 5px 0px;
  }
}
