.verify-result ul {
  list-style-type: none;
  padding: 0px !important;
}

.verify-result li {
  color: lightgreen;
}

.verify-result li:before {
  font-family: 'FontAwesome';
  content: '\F00C';
  margin: 0 5px 0 0px;
  color: lightgreen;
  font-size: 20px;
}

.verify-dialog .content-margin {
  margin: 10px 10px;
}

.verify-dialog {
  width: 580px;
}