.control-prev,
.control-next {
  background-color: grey !important;
  height: 30px;
  width: 30px;
  margin-top: 30% !important;
  border-radius: 50%;
  /* left: -20px !important; */
  position: relative;
  z-index: 2;
  top: 25px !important;
}

.control-next::before {
  position: relative;
  top: -10px !important;
  margin: 1px 8px !important;
}

.control-prev::before {
  position: relative;
  top: -10px !important;
  margin: 1px 0px !important;
  left: -2px;
}

.control-dots {
  display: none;
}
.ant-upload-select {
  width: 100% !important;
}
.ant-upload-select > span {
  display: block !important;
}

.ant-upload-icon {
  font-size: 40px;
  color: #1898ef;
}

.ant-upload-list-item-actions > button {
  background-color: transparent;
  left: 20px;
  bottom: 35px;
}
.ant-upload-list-picture {
  display: inline-block;
}

.ant-upload-list-item-container {
  margin-left: 20px;
}

.serviceIcons {
  margin-top: 3px;
}

/* .create-modal-header{
  background-color: #1898ef;
} */

.create-modal-header {
background-color: red;
}

.ant-modal-close {
  /* Add your custom styles here */
  font-weight: 800;
  margin-top: 10px;
  color: black !important;
  margin-right: 20px
  /* You can customize the size, color, or any other CSS properties here */
}

.ant-input-number-affix-wrapper-disabled, .ant-input-number-disabled{
  background-color: white;
}

.ant-input-number-disabled{
  cursor: disabled;
}


/* .card-shadow{
  box-shadow: ;
} */
