.control-prev,
.control-next {
  background-color: grey !important;
  height: 30px;
  width: 30px;
  margin-top: 30% !important;
  border-radius: 50%;
  /* left: -20px !important; */
  position: relative;
  z-index: 2;
  top: 25px !important;
}

.control-next::before {
  position: relative;
  top: -10px !important;
  margin: 1px 8px !important;
}

.control-prev::before {
  position: relative;
  top: -10px !important;
  margin: 1px 0px !important;
  left: -2px;
}

.control-dots {
  display: none;
}
.ant-upload-select {
  width: 100% !important;
}
.ant-upload-select > span {
  display: block !important;
}

.ant-upload-icon {
  font-size: 40px;
  color: #1898ef;
}

.ant-upload-list-item-actions > button {
  background-color: transparent;
  left: 20px;
  bottom: 35px;
}
.ant-upload-list-picture {
  display: inline-block;
}

.ant-upload-list-item-container {
  margin-left: 20px;
}

.serviceIcons {
  margin-top: 3px;
}

/* .create-modal-header{
  background-color: #1898ef;
} */

.create-modal-header {
  background-color: red;
}

.ant-input-number-affix-wrapper-disabled,
.ant-input-number-disabled {
  background-color: white;
}

.ant-input-number-disabled {
  cursor: disabled;
}

.create-new-modal > .ant-modal-content > button {
  margin-top: 25px;
  color: black;
  margin-right: 20px;
}

.card-shadow:hover {
  box-shadow: 0px 0px 6px 2px #0000002e;
}

.card-shadow:hover {
  box-shadow: 0px 0px 6px 2px #0000002e;
}

.card-shadow-2{
  box-shadow: 0px 0px 6px 0px #00000026;
}

.create-modal-footer-shadow{
  box-shadow: 0px -2px 8px 0px #00000026;
}

.ant-tabs-top > .ant-tabs-nav::before {
  border-bottom: 2px solid rgba(5, 5, 5, 0.06);
}