.ant-table-thead .ant-table-cell {
  background-color: #061a6c !important;
  color: white !important;
}

.service-filter > div > .ant-select-selector {
  background-color: transparent !important;
  border: none !important;
  background-color: #efefef !important;
}
