
.dropzoneContainer {
  padding: 5px;
}

.dropzone {
  width: 100%;
  height: 100%;
  border: 1px dashed;
  border-radius: 5px;
  padding-top: 8px;
}

.dropzoneActive {
  border-color: #0f9960 !important;
  color: #0f9960 !important;
}

.dropzoneRejected {
  border-color: #fd373e !important;
}
