ALCHEMY_API_KEY=xxxxxxxxxxxxx
SAFE_ADDRESS=xxxxxxxxxxxxx
BRIDGE_ADDRESS=xxxxxxxxxxxxx #here added 0x in prefix for safe service test case
BRIDGE_TOKEN_ADDRESS=xxxxxxxxxxxxx
NODE_URL=xxxxxxxxxxxxx
ETHEREUM_RPC_URL=xxxxxxxxxxxxx
BA_USERNAME=xxxxxxxxxxxxx
BA_PASSWORD=xxxxxxxxxxxxx
ALCHEMY_NETWORK=xxxxxxxxxxxxx
SAFE_OWNER_PRIVATE_KEY=xxxxxxxxxxxxx
SAFE_OWNER_ADDRESS=xxxxxxxxxxxxx
# login secrets
CLIENT_SECRET=xxxxxxxxxxxxx
CLIENT_ID=xxxxxxxxxxxxx
OPENID_DISCOVERY_URL=xxxxxxxxxxxxx
