@import "../../../node_modules/@blueprintjs/core/dist/variables.scss";

.network-status {
  color: $pt-intent-success;
  margin-top: 0.7em;
  font-size: 20px;
  font-weight: bold;
  background-color: $pt-dark-code-background-color;
  padding: 5px 10px;
  text-align: center;
}

.popover_title {
  font-size: 24px;
  line-height: 36px;
  text-decoration: none;
  color: rgb(228, 68, 68);
  text-align: center;
  padding: 15px 0;
}

.popover_wrapper {
  position: relative;
  margin-top: 1.5rem;
  display: inline-block;
}
