@import "../../../node_modules/@blueprintjs/core/dist/variables.scss";

.network-status {
  color: $pt-intent-success;
  margin-top: 0.7em;
  font-size: 20px;
  font-weight: bold;
  background-color: $pt-dark-code-background-color;
  padding: 5px 10px;
  text-align: center;
}
.full-width {
  display: "inline-block";
  width: 100%;
}

.bad-metric {
  color: #f74b4b;
}

.good-metric {
  color: #f5f8fa;
}

.metric {
  display: inline-block;
}

.healthy-network {
  color: #62d96b;
}

.unhealthy-network {
  color: #ffc940;
}

#networkInfo {
  display: flex;
  flex-direction: column;
}
