@import "../../node_modules/@blueprintjs/core/dist/variables.scss";
@import "../../node_modules/plottable/plottable.css";

:root {
  --blockapps-primary-navy: #001B71;
  --blockapps-primary-blue: #3452FF;
  --blockapps-primary-red: #FF3300;
  --blockapps-secondary-blue: #00AEEF;
  --blockapps-secondary-purple: #6B36C4;
  --blockapps-secondary-yellow: #F0C452;
  --blockapps-secondary-green: #36C487;
}

html {
  height: 100%;
}

body {
  background: $pt-dark-app-background-color !important;
  min-height: 100%;
  font-family: 'Roboto', sans-serif !important;
}

.smd-full-width {
  width: 100%;
}

.smd-input-width {
  width: 60%;
}


$multipliers: 5;

@for $i from 0 through $multipliers {
  .smd-margin-#{$i*4} { margin: $i * 4px; }
  .smd-margin-right-#{$i*4} { margin-right: $i * 4px; }
  .smd-pad-#{$i*4} { padding: $i * 4px; }
  .smd-pad-vertical-#{$i*4} { padding: $i * 4px 0px; }
  .smd-pad-top-#{$i*4} { padding-top: $i * 4px; }
  .smd-pad-left-#{$i*4} { padding-left: $i * 4px; }
  .smd-pad-right-#{$i*4} { padding-right: $i * 4px; }
}

.smd-pad-left-2 {
  padding-left: 2px !important;
}

.smd-pad-2 {
  padding: 2px;
}
.smd-pointer {
  cursor: pointer;
}

.smd-scrollable {
  max-height: 240px;
  overflow-x: none;
  overflow-y: auto;
}

.dropzoneContainer {
  padding: 4px;
  cursor: pointer;
  display: inline-block;
  background-color: rgba(16, 22, 26, 0.3);
  box-shadow: 0 0 0 0 rgba(19, 124, 189, 0), 0 0 0 0 rgba(19, 124, 189, 0), 0 0 0 0 rgba(19, 124, 189, 0), inset 0 0 0 1px rgba(16, 22, 26, 0.3), inset 0 1px 1px rgba(16, 22, 26, 0.4);
  color: #f5f8fa;
  border-radius: 3px;
  height: 30px;
  line-height: 30px;
  font-size: 14px;
  padding: 0px 10px;
  width: 320px;
}

.smd-text-danger {
  color: $pt-intent-danger;
}

.smd-text-warning {
  color: #F29D49;
}

.smd-vertical-center {
  display: flex;
  align-items: center;
}

.button-center {
	align-items: center;
	justify-content: center !important;
}

.items-center-75 {
  width: 75%;
  align-self: center;
}

.smd-max-width {
  max-width: 100%;
}
.h-align {
  vertical-align: middle;
}

.card-search-sl {
  border-radius: 8px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 40px 0 rgba(0, 0, 0, 0.19);
  margin: 10px 0;
  padding: 0 5px;
}

.card-search-action:hover {
  color: #fff;
  background: #E26D5C;
  -webkit-animation: pulse 1.5s infinite;
}

.card-search-heading {
  font-size: 18px;
  font-weight: bold;
  background: rgba(0,0,0,0.15);
  padding: 5px 10px;

}

.card-search-text {
  padding: 10px 15px;
  background:  rgba(0,0,0,0.15);
  font-size: 16px;
  color: #fff;
}

.card-search-button {
  display: flex;
  justify-content: center;
  padding: 10px 0;
  width: 300px;
  height: 100px;
  background-color: pt-dark-app-background-color;
  color: #fff;
  border-radius: 0 0 8px 8px;
  object-fit: cover;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.card-search-button:hover {
  text-decoration: none;
  background-color: #404b58;
  color: #fff;
  

}

 /* Card Styles */

 .card-sl {
  border-radius: 8px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 40px 0 rgba(0, 0, 0, 0.19);
  padding: 15px;
}

.card-image img {
  max-height: 100%;
  max-width: 100%;
  border-radius: 8px 8px 0px 0;
  object-fit: cover;

}

.card-action:hover {
  color: #fff;
  background: #E26D5C;
  -webkit-animation: pulse 1.5s infinite;
}

.card-heading {
  font-size: 18px;
  font-weight: bold;
  background: rgba(0,0,0,0.15);
  padding: 5px 10px;

}

.card-text {
  padding: 10px 15px;
  background:  rgba(0,0,0,0.15);
  font-size: 16px;
  color: #fff;
}

.card-button {
  display: flex;
  justify-content: center;
  padding: 10px 0;
  width: 300px;
  height: 100px;
  background-color: pt-dark-app-background-color;
  color: #fff;
  border-radius: 0 0 8px 8px;
  object-fit: cover;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.card-button:hover {
  text-decoration: none;
  background-color: #404b58;
  color: #fff;


}