@import "../../node_modules/@blueprintjs/core/dist/variables.scss";
@import "../../node_modules/plottable/plottable.css";

html {
  height: 100%;
}

body {
  background: $pt-dark-app-background-color !important;
  min-height: 100%;
  font-family: 'Roboto', sans-serif !important;
}

#outer-container {
  position: relative;
  top: 48px;
  margin-left: 320px;
  padding: 0px 12px;
}


.smd-full-width {
  width: 100%;
}

.smd-input-width {
  width: 60%;
}


$multipliers: 5;

@for $i from 1 through $multipliers {
  .smd-margin-#{$i*4} { margin: $i * 4px; }
  .smd-margin-right-#{$i*4} { margin-right: $i * 4px; }
  .smd-pad-#{$i*4} { padding: $i * 4px; }
  .smd-pad-vertical-#{$i*4} { padding: $i * 4px 0px; }
  .smd-pad-top-#{$i*4} { padding-top: $i * 4px; }
  .smd-pad-left-#{$i*4} { padding-left: $i * 4px; }
  .smd-pad-right-#{$i*4} { padding-right: $i * 4px; }
}

.smd-pad-left-2 {
  padding-left: 2px !important;
}

.smd-pad-2 {
  padding: 2px;
}

.smd-pointer {
  cursor: pointer;
}

.smd-scrollable {
  max-height: 240px;
  overflow-x: none;
  overflow-y: auto;
}

.dropzoneContainer {
  padding: 4px;
  cursor: pointer;
  display: inline-block;
  background-color: rgba(16, 22, 26, 0.3);
  box-shadow: 0 0 0 0 rgba(19, 124, 189, 0), 0 0 0 0 rgba(19, 124, 189, 0), 0 0 0 0 rgba(19, 124, 189, 0), inset 0 0 0 1px rgba(16, 22, 26, 0.3), inset 0 1px 1px rgba(16, 22, 26, 0.4);
  color: #f5f8fa;
  border-radius: 3px;
  height: 30px;
  line-height: 30px;
  font-size: 14px;
  padding: 0px 10px;
  width: 320px;
}

.smd-text-danger {
  color: $pt-intent-danger;
}

.smd-text-warning {
  color: #F29D49;
}

.smd-vertical-center {
  display: flex;
  align-items: center;
}

.button-center {
	align-items: center;
	justify-content: center !important;
}

.items-center-75 {
  width: 75%;
  align-self: center;
}

.smd-max-width {
  max-width: 100%;
}