NODE_URL=node-url
OAUTH_URL=oauth-url
OAUTH_CLIENT_ID=your-client-id
OAUTH_CLIENT_SECRET=your-client-secret

# User Credentials
GLOBAL_ADMIN_NAME=your-username
GLOBAL_ADMIN_PASSWORD=your-password

# Contract Configuration
CONTRACTS_DIR=./BCC
# MAIN_FILE=YourContract.sol  # Code collection contract file (optional)
# APP_NAME=YourAppName  # Name of the app (optional)