@import "../../node_modules/@blueprintjs/core/dist/variables.scss";
@import "../../node_modules/plottable/plottable.css";

html {
  height: 100%;
}

body {
  background: $pt-dark-app-background-color !important;
  min-height: 100%;
  font-family: 'Roboto', sans-serif !important;
}

#outer-container {
  position: relative;
  top: 48px;
  margin-left: 320px;
  padding: 0px 12px;
}

.smd-full-width {
  width: 100%;
}

.smd-pad-4 {
  padding: 4px;
}

.smd-pad-8 {
  padding: 8px;
}

.smd-pad-16 {
  padding: 16px;
}

.smd-pointer {
  cursor: pointer;
}

.smd-scrollable {
  max-height: 240px;
  overflow-x: none;
  overflow-y: auto;
}
