*~
dist/
.stack-work

# IntelliJ support for jumping to source in anything:
# mkdir .stack-unpack && stack list-dependencies --separator "-" | while read pkg; do bash -c "cd .stack-unpack && stack unpack $pkg"; done
.stack-unpack/
.idea/
*.iml
*.swp
*.prof
.DS_Store
