// Methods
// adapted from theme-feeling-blue.css
$_color-post: #205493;
$_color-get: #34495E;
$_color-put: #0071bc;
$_color-delete: #112e51;
$_color-head: #5C6BC0;
$_color-patch: #0071bc;
$_color-disabled: #ebebeb;
$_color-options: #0071bc;

$methods: (post: $_color-post),(get: $_color-get), (put: $_color-put),(delete: $_color-delete),(head: $_color-head),(patch: $_color-patch),(deprecated: $_color-disabled),(options: $_color-options)
