.input {
	padding: 1%;
	margin-top: 1%;
	margin-left: 10%;
}

.form-width {
	width: 100%;
}

.create-user h4 {
	text-align: center;
	margin-bottom: 30px;
}

.create-user .pt-dialog-body .side-items {
	display: table-cell;
	vertical-align: middle;
}

.side-items {
	margin: 20px 20px !important;
	float: left;
	width: 44%;
}

.create-user-form {
	padding: 0px 16px 0px 16px;
	align-items: center;
}

.create-user-form .email-section {
	width: 75%;
}

.feature-list {
	padding-left: 20px !important;
	display: inline-block;
	padding: 0px 0px 15px !important;
}

.create-user .feature-list,
.create-user .feature-list li {
	list-style: none;
}


.create-user .feature-list li {
	display: block;
	position: relative;
	float: left;
	text-align: center;
	margin-left: 15px;
}

.create-user .feature-list li:before {
	font-family: 'FontAwesome';
	content: '\F00C';
	margin: 0 10px 0 0px;
	color: lightgreen;
	font-size: 20px;
}
	