/* .ant-table-thead .ant-table-cell {
  background-color: lightgrey !important;
  color: white !important;
} */

/* .ant-table-row:nth-child(even) {
  background-color: lightgrey;
} */

.service-filter > div > .ant-select-selector {
  background-color: transparent !important;
  border: none !important;
  background-color: #efefef !important;
}
