NODE_URL=xxxxxxxxxxxxx                                # STRATO node URL for interacting with Mercata blockchain
BA_USERNAME=xxxxxxxxxxxxx                             # BlockApps login username
BA_PASSWORD=xxxxxxxxxxxxx                             # BlockApps login password

# Login secrets for OpenID authentication
CLIENT_SECRET=xxxxxxxxxxxxx                           # OAuth client secret for login
CLIENT_ID=xxxxxxxxxxxxx                               # OAuth client ID for login
OPENID_DISCOVERY_URL=xxxxxxxxxxxxx                    # OpenID configuration URL for Keycloak or identity provider

TRANSACTION_APPROVER_EMAILS=xxxxxxxxxxxxxxxxxx        # Comma-separated list of email addresses to notify for transaction approvals
SHOW_TESTNET=xxxxxxxxxx                               # Boolean flag to enable testnet environment for bridgeIn and bridgeOut flow
SENDGRID_API_KEY=xxxxxxxxxxxxx                        # SendGrid API key for sending transaction email notifications
