@import "~@blueprintjs/core/dist/blueprint.css";
@import "../../../node_modules/@blueprintjs/core/dist/variables.scss";
///* Position and sizing of burger button */
.bm-burger-button {
  display: none;
  //position: fixed;
  //width: 36px;
  //height: 30px;
  //left: 36px;
  //top: 36px;
}

/* Color/shape of burger icon bars */
.bm-burger-bars {
  zbackground: #373a47;
}

/* Position and sizing of clickable cross button */
.bm-cross-button {
  height: 24px;
  width: 24px;
}

/* Color/shape of close button cross */
.bm-cross {
  background: $pt-dark-text-color;
}

/* General sidebar styles */
.bm-menu {
  background: $pt-dark-app-background-color;
  padding: 2.5em 1.5em 0;
  font-size: 1.15em;
}

/* Morph shape necessary with bubble or elastic */
.bm-morph-shape {
  fill: $pt-dark-app-background-color;
}

/* Wrapper for item list */
.bm-item-list {
  color: $pt-dark-text-color;
  padding: 0.8em;
}

/* Styling of overlay */
.bm-overlay {
  background: rgba(0, 0, 0, 0.3);
}

.menu-item {
  font-size: 1.15em;
  color: $pt-dark-text-color;
  margin-left: 1%;
  padding: 1%;
  text-decoration: none;
}

.menu-item:hover {
  font-family: $pt-font-family;
  color: $pt-dark-code-text-color;
  text-decoration: none;
}