.content {
  margin: auto !important;
  height: 100vh;
  background: white !important;
}

.createAccountButton {
  background: #42a5f5 !important;
}

.loginButton {
  background: #6C7A80 !important;
}

.md-background--card.login-box {
  background: #263238 !important;
  height: auto;
  width: 550px;
  transform: translateY(25%);
}

.md-background--card.login-box .md-text {
  color: #fff;
  background: rgba(255,255,255,.7);
  width: 100%;
  padding:10px 10px;
  border-radius: 5px;
}

.md-password-btn.md-password-btn {
  margin-right:10px; 
  margin-top: 10px;
}

.msg-login {
  color: #fff;
} 

.md-background--card.login-box .createAccountButton {
  margin: 20px 0px;
}

.md-background--card.login-box .md-divider--text-field { 
  display: none;
}

.md-background--card.login-box .md-text-field-message--active{
  margin-top: 5px;
}

@media (max-width: 767px){
  .md-background--card.login-box {
    width: 100%;
    transform: translateY(0%); 
    height: 100vh;
  }
} 