.createAccountButton {
  background: #42a5f5 !important;
}

.loginButton {
  background: #6C7A80 !important;
}

.content {
  margin: auto !important;
  height: 100vh;
  background: white !important;
}