*~
.stack-work
.stack-work-profile
.basil-work
.ethereumH/
multinode-test/
work
sftp-config.json
test-suite/tests
# IntelliJ support for jumping to source in anything:
# mkdir .stack-unpack && stack list-dependencies --separator "-" | while read pkg; do bash -c "cd .stack-unpack && stack unpack $pkg"; done
.stack-unpack/
.idea/
*.iml
*.swp
.DS_Store

blockapps-data/certs/
blockapps-data/config/
blockapps-data/livenetGenesis.json
blockapps-data/static/
certs/
config/
livenetGenesis.json
static/
