NODE_DATA = [
      MONITOR: [
          NETWORK_HEALTH_URL: 'http://multinode102.ci.blockapps.net:8080/health'
      ],
      NODE1: [
          NUMBER: "1",
          HOST: "multinode101.ci.blockapps.net",
          IP: "3.81.197.53",
          PORT: 8080,
          NETWORK_ID: 1720007323,
          // BOOTNODE_IP: "", //Unused for nodes connecting to devnet
          OAUTH_DISCOVERY_URL: "https://keycloak.blockapps.net/auth/realms/strato-devel/.well-known/openid-configuration",
          OAUTH_CLIENT_ID: "dev",
          OAUTH_CLIENT_SECRET: "d5e67b8c-4fbf-42c6-a8d9-29a4dd13575f",
      ],
      NODE2: [
          NUMBER: "2",
          HOST: "multinode102.ci.blockapps.net",
          IP: "18.235.213.241",
          PORT: 8080,
          NETWORK_ID: 1720007323,
          BOOTNODE_IP: "3.81.197.53", //Unused for nodes connecting to devnet
          OAUTH_DISCOVERY_URL: "https://keycloak.blockapps.net/auth/realms/strato-devel/.well-known/openid-configuration",
          OAUTH_CLIENT_ID: "dev",
          OAUTH_CLIENT_SECRET: "d5e67b8c-4fbf-42c6-a8d9-29a4dd13575f",
      ],
]

return this