MINTER_USERNAME="MINTER_USERNAME"
MINTER_PASSWORD="MINTER_PASSWORD"
NODE_ENDPOINT="TARGET_NODE"
KEYCLOAK_ENDPOINT="KEYCLOAK_ENDPOINT"
STRAT_ASSET_ADDRESS="STRAT_ASSET_ADDRESS"
USDST_ASSET_ADDRESS="USDST_ASSET_ADDRESS"
