OAUTH_DISCOVERY_URL=
OAUTH_CLIENT_ID=
OAUTH_CLIENT_SECRET=
NODE_URL=
BASE_URL=

PRICE_ORACLE=
COLLATERAL_VAULT_ADDR=
LIQUIDITY_POOL=
LENDING_POOL=
POOL_CONFIGURATOR=
USDST=
GOLDST=
SILVST=

# TODO generate these in get_tokens.sh
ADMIN_ADDRESS=
USER_ADDRESS=
