.upload-file {
  width: 100% !important;
}

.upload-dialog {
  width: 600px;
}

.upload-dialog .content-margin {
  margin: 10px 20px;
}

.upload-button {
  margin: 15px 0px 0px 0px;
}

.upload-form {
  margin-bottom: 0px;
}