.send-email-text {
  font-size: 12px;
}

.faucet-body {
  width: 100%;
}

.faucet-body .side-image {
  width: 44%;
  float: left;
  margin: 11px 20px 0px 10px;
}

.faucet-form {
  margin-top: 28px !important;
  margin-right: 2px !important
}

.faucet-form label {
  margin-bottom: 15px !important;
}

.faucet-title {
  text-align: center;
  margin-bottom: 15px;
}

.faucet-container {
  margin-top: 0px !important;
}
