

.smd-menu-logo {
  cursor: pointer;
  margin-right: 15px;
}

.smd-menu-bar {
  position: fixed !important;
  width: 100%;
}

.menubar-button {
  color: #48aff0 !important;
  :hover {
    color: #f5f8fa;
  }
}  

.welcome-user {
  font-size: 14px;
}

.select-chain {
  min-width: 200px !important;
  max-width: 350px !important;
}