

.smd-menu-logo {
  cursor: pointer;
  margin-left: 15px;
}

.smd-menu-bar {
  position: fixed !important;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.menubar-button {
  color: #48aff0 !important;
  :hover {
    color: #f5f8fa;
  }
}  

.welcome-user {
  font-size: 14px;
}

.chain-wrapper {
  top: 18px;
}

.select-chain {
  min-width: 230px !important;
  max-width: 350px !important;
}

.pt-icon-user {
  height: 50px;
  overflow: hidden; 
}